doctype html 
html 
   head
    title Deepanshu Dance Academy
    style 
        include ../static/style.css 
   body 
      nav#navbar
          ul 
            div#logo
                img(src="/static/img/logos3.png") 
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
      section#introSection 
          div Welcome to my Dance Academy
          div.small Eat Sleep Dance Repeat
      section#missionSection 
          h2 Our Mission
          div.card 
              h3 Dance Perfection
              div.card-box 
                 div.card-img 
                     img(src="/static/img/logos.png")
                 div.card-content 
                     p This is the best dance academy of the universe
          div.card 
              h3 Dance the way you like
              div.card-box 
                 div.card-img 
                     img(src="/static/img/logos1.png")
                 div.card-content 
                     p This is the best dance academy of the universe

          div.card 
              h3 Expert Teaching
              div.card-box 
                 div.card-img 
                     img(src="/static/img/logos4.png")
                 div.card-content 
                     p This is the best dance academy of the universe
      section#sponsorsSection 
          h2 Our Sponsors
          div#sponsors  
              img(src="/static/img/sponsor1.jpg",alt="Sponsor Image",class="spImage")
              img(src="/static/img/sponsor4.jpg",alt="Sponsor Image",class="spImage")
              img(src="/static/img/sponsor3.png",alt="Sponsor Image",class="spImage")
              img(src="/static/img/sponsor5.png",alt="Sponsor Image",class="spImage")
      footer#footer 
          | Copyright ©  2021 HarryDanceAcademy.com|All rights reserved
      script 
        include ../static/index.js